::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
	background-image: url(./image/bg2clair2.png);
}

#niveau2color h1{
	background-color: #c39dda;
}

#niveau3color h1{
	background-color: #dac383;
}

#niveau4color h1{
	background-color: #83dac4;
}

#niveau5color h1{
	background-color: #cc996f;
}

h1 {
    background-color: #88B0C6;
	font-family: "comic sans ms";
	font-weight: lighter;
	letter-spacing: 2px;
	text-align: center;
	padding: 30px 0;
    font-style: italic;
    font-size: 45px;
	line-height: 55px;
	margin: 0 auto 1em;
	padding: 0 0 0 0;
	width: max-content;
	align-items: center;
	display: flex;
	border-radius: 20px;
	border: 2px solid #798d97;
}

h1:hover{
	box-shadow: 0 0 50px wheat;
	background-color: #ffffff;
	color: #88B0C6;
}

h1:hover .logo{
	-webkit-animation: rotatingYleft 5s linear infinite;
}

h1:hover .logo45{
	-webkit-animation: rotatingYright 5s linear infinite;
}

.logo{
	transform: rotate(45deg);
	-webkit-animation: rotatingright 15s linear infinite;
}

@-webkit-keyframes rotatingYright{
	from{
		-webkit-transform: rotateY(0deg);
	}
	to{
		-webkit-transform: rotateY(360deg);
	}
}

@-webkit-keyframes rotatingright{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}

.logo45{
	transform: rotate(-45deg);
	-webkit-animation: rotatingleft 15s linear infinite;
}

@-webkit-keyframes rotatingleft{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(-360deg);
	}
}

@-webkit-keyframes rotatingYleft{
	from{
		-webkit-transform: rotateY(0deg);
	}
	to{
		-webkit-transform: rotateY(-360deg);
	}
}

main {
	margin: 0 auto;
	height: auto;
}

strong{
	align-content: center;
}

.question-block {
	width: 450px;
	height: 430px;
    background-color: #88b0c6d3;
	padding: 15px 15px 15px;
	margin: 20px;
	border-radius: 20px;
	border: 2px solid white;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
	transition: all 0.4s ease-in-out;
}

#niveau2color .question-block {
	background-color: #c39ddad3;
}

#niveau3color .question-block {
	background-color: #dac383d5;
}

#niveau4color .question-block {
	background-color: #83dac4ce;
}

#niveau5color .question-block {
	background-color: #cc996fd8;
}

.question-block:hover{
	/*width: 500px;*/
	background-color: #88B0C6;
	box-shadow: 0 2px 30px rgb(255, 255, 255);
	border-radius: 0;
}

#niveau2color .question-block:hover {
	background-color: #c39dda;
}

#niveau3color .question-block:hover {
	background-color: #dac383;
}

#niveau4color .question-block:hover {
	background-color: #83dac4;
}

#niveau5color .question-block:hover {
	background-color: #cc996f;
}

.question-block h4 {
	color: black;
	font-family: "comic sans ms";
	font-style: italic;
	text-decoration: underline;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding: 10px 0;
	font-size: 22px;
}



.question-block:hover h4{
	font-size: 30px;
	transition: font-size 0.5s ease-in-out;
}

.question-block h5 {
	font-family: "comic sans ms";
	padding: 10px 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 22px;
}

.question-block label {
	font-size: 20px;
}

.question-block input[type="radio"] {
	display: none;
	transform: scale(1.8);
	margin: 10px;
}

.flex p{
	font-family: "comic sans ms";
	font-size: 20px;
	padding: 0 0 0 2em;
}

.flex{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.question-block input[type="radio"]:checked + .flex>p{
	color: black;
	font-weight: bold;
}

.question-block input[type="radio"] + label {
	background-color: #798d97;
	padding: 0.5em;
	border-radius: 5px;
	border: 2px solid white;
}

.question-block input[type="radio"]:checked + label{
	background-color:white;
	color: #798d97;
	border: 2px solid #798d97;
	box-shadow: 0 0 20px rgb(255, 255, 255);
	transition: box-shadow 0.5s ease-in-out;
}


.resultats {
    margin: 20px auto;
	padding: 20px 40px;
	cursor: pointer;
    width: 500px;
    background-color: #88B0C6;
	border-radius: 20px;
	border: 2px solid white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

#niveau2color .resultats{
	background-color: #c39dda;
}

#niveau3color .resultats{
	background-color: #dac383;
}

#niveau4color .resultats{
	background-color: #83dac4;
}

#niveau5color .resultats{
	background-color: #cc996f;
}

.resultats h2 {
	text-align: center;
}

.aide,
.note {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



button {
    color: white;
    background-color: #88B0C6;
	border: none;
	outline: none;
	border-radius: 3em;
	border: 2px solid rgb(255, 255, 255);
	display: block;
	margin: 20px auto;
	padding: 20px 40px;
	cursor: pointer;
	font-size: 25px;
	transition: background-color 0.2s ease-in-out;
	
	font-family: "comic sans ms";
}

#niveau2color button{
	background-color: #c39dda;
}

#niveau3color button{
	background-color: #dac383;
}

#niveau4color button{
	background-color: #83dac4;
}

#niveau5color button{
	background-color: #cc996f;
}

button:hover {
	width: 350px;
	background-color: white;
	color: #3286b4;
	box-shadow: 0 2px 10px rgb(255, 255, 255);
	transition: all 0.2s ease-in-out;
	border-radius: 0px;
}

.echec {
	animation: echec 0.3s ease-in-out;
}

@keyframes echec {
	0% {
		transform: translateX(0px);
	}
	33% {
		transform: translateX(50px);
	}
	66% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0px);
	}
}

.resultats .link{
	display: table;
	text-align: center;
	font-size: 30px;
	margin: 10px auto 0;
	color: rgb(251, 251, 251);
	font-family: "comic sans ms";
	text-decoration: none;
	border: 3px solid #ffffff;
	border-radius: 30px;
	padding: 0.5em 0.5em;
}

.resultats .link:hover{
	background-color: #ffffff;
	color: #3286b4;
}

a.link.hide{
	display: none;
}

a.link.visible{
	display: block;
}
